<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WordPress Readme Generator</title>

    <meta property="og:site_name" content="WordPress Readme Generator" />
    <meta property="og:url" content="https://tools.wedevs.com/readme/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="WordPress Readme Generator" />
    <meta property="og:description" content="WordPress Readme generator is readme builder that helps you to visualize what you you'll be seeing while writing the readme." />
    <meta property="og:image" content="https://tools.wedevs.com/assets/images/social-share.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tareq_cse">
    <meta name="twitter:title" content="WordPress Readme Generator">
    <meta name="twitter:description" content="WordPress Readme generator is readme builder that helps you to visualize what you you'll be seeing while writing the readme.">
    <meta name="twitter:image" content="https://tools.wedevs.com/assets/images/social-share.png">

    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.3/dist/mini-default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css?v=1">

</head>
<body>
    <div id="page" class="readme-generator mini preview-desktop">

        <div id="builder" class="builder-area">

            <div class="builder-header">
                WP Readme Generator

                <span class="github"><a href="https://github.com/tareq1988/wp-readme-generator" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
            </div>

            <div class="builder-fields">

                <section class="panel">
                    <h3>Banner and Icon</h3>

                    <div class="panel-content">
                        <label for="banner">Banner Image</label>
                        <input type="url" id="banner" v-model="banner">

                        <label for="icon">Icon Image</label>
                        <input type="url" id="icon" v-model="icon">
                    </div>
                </section>

                <section class="panel active">
                    <h3>Headings</h3>

                    <div class="panel-content" style="display: block;">
                        <label for="plugin-name">Plugin Name</label>
                        <input type="text" v-model="name">

                        <label for="contributors">Contributors</label>
                        <input type="text" id="contributors" v-model="contributors">

                        <label for="donate">Donate Link</label>
                        <input type="text" id="donate" v-model="donate">

                        <label for="tags">Tags</label>
                        <input type="text" id="tags" v-model="tags">

                        <label for="stable">Stable Tag</label>
                        <input type="text" id="stable" v-model="stable">

                        <label for="license">License</label>
                        <input type="text" id="license" v-model="license">

                        <label for="licenseuri">License URI</label>
                        <input type="text" id="licenseuri" v-model="licenseuri">
                    </div>
                </section>

                <section class="panel">
                    <h3>Description</h3>

                    <div class="panel-content">
                        <label for="short">Short Description</label>
                        <textarea name="short" id="short" cols="30" rows="3" v-model="short"></textarea>

                        <label for="description">Description</label>
                        <textarea name="description" id="editor" cols="30" rows="10" :value="sections.description" @input="update( $event, 'description' )"></textarea>
                    </div>
                </section>

                <section class="panel">
                    <h3>FAQ</h3>

                    <div class="panel-content">

                        <div class="add-more-area faq-section">
                            <div v-if="sections.frequently_asked_questions.length">
                                <ul>
                                    <li v-for="(item, index) in sections.frequently_asked_questions">
                                        <label>Question</label>
                                        <input type="text" v-model="item.question" placeholder="A question that someone might have">

                                        <label>Answer</label>
                                        <textarea v-model="item.answer" placeholder="An answer to that question"></textarea>

                                        <a href="#" @click.prevent="removeItem(index, 'frequently_asked_questions')">Remove</a>
                                    </li>
                                </ul>
                            </div>

                            <a href="#" class="button primary" v-on:click.prevent="addQuestion()">Add Question</a>
                        </div>
                    </div>
                </section>

                <section class="panel">
                    <h3>Screenshots</h3>

                    <div class="panel-content">

                        <div class="add-more-area secreenshot-section">

                            <div v-if="sections.screenshots.length">
                                <ul>
                                    <li v-for="(item, index) in sections.screenshots">
                                        <label>Image URL</label>
                                        <input type="text" v-model="item.url" placeholder="(optional) Image URL to preview">

                                        <label>Caption</label>
                                        <input type="text" v-model="item.caption" placeholder="Caption to the image">

                                        <a href="#" @click.prevent="removeItem(index, 'screenshots')">Remove</a>
                                    </li>
                                </ul>
                            </div>

                            <a href="#" class="button primary" v-on:click.prevent="addScreenshot()">Add Screenshot</a>
                        </div>
                    </div>
                </section>

                <section class="panel">
                    <h3>Others</h3>

                    <div class="panel-content">

                        <label for="installation">Installation Instruction</label>
                        <textarea name="installation" id="installation" cols="30" rows="10" :value="sections.installation" @input="update( $event, 'installation' )"></textarea>

                        <label for="installation">Upgrade Notice</label>
                        <textarea name="upgrade" id="upgrade" cols="30" rows="10" :value="sections.upgrade_notice" @input="update( $event, 'upgrade_notice' )"></textarea>

                    </div>
                </section>
            </div>

            <div class="footer-actions">
                <a href="#" title="Import your existing readme" class="button import-button" @click.prevent="showModal()">Import</a>

                <span class="window-width">
                    <a href="#" title="Export your readme" class="button export" @click.prevent="showExportModal()"><i class="fa fa-code" aria-hidden="true"></i></a>
                    <a href="#" title="Resize the Editor window" class="button resize" id="btn-resize"><i class="fa fa-arrows-h" aria-hidden="true"></i></a>
                </span>
            </div>

            <div class="modal-window" id="export-modal-window">
                <a href="#" class="close" id="close-modal" @click.prevent="closeModal()"></a>

                <div class="modal-header">
                    <h2>Export Your Readme</h2>
                </div>
                <div class="modal-content">
                    <textarea cols="30" :value="generated" rows="30" style="width: 100%;font-family: monospace;"></textarea>
                </div>
            </div>
            <div id="export-modal-backdrop" class="modal-backdrop"></div>

        </div>

        <div id="preview-area">
            <iframe src="wp.html" height="100%" width="100%" frameborder="0" name="previewframe" id="previewframe"></iframe>
        </div>
    </div>

    <div class="modal-window" id="modal-window">
        <a href="#" class="close" id="close-modal"></a>

        <div class="modal-header">
            <h2>Import Your Readme</h2>
        </div>
        <div class="modal-content">
            <textarea name="readme" id="readme" cols="30" rows="20" style="width: 100%;"></textarea>
        </div>
        <div class="modal-footer">
            <button id="submit" class="button primary" style="float: right;">Import Readme</button>
        </div>
    </div>
    <div id="modal-backdrop" class="modal-backdrop"></div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/marked"></script>
    <script src="https://unpkg.com/underscore"></script>
    <script src="assets/js/script.js?v=15"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4803329-8', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
