.readme-generator {
    background: transparent;
    z-index: 500000;
    position: fixed;
    overflow: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-width: 0;
}

.readme-generator.expanded {
    margin-left: 300px;
}

.builder-header {
    position: absolute;
    left: 0;
    right: 0;
    height: 45px;
    padding: 0 15px;
    line-height: 45px;
    z-index: 10;
    margin: 0;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    transition: padding ease-in-out .18s;
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.builder-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    min-width: 300px;
    max-width: 600px;
    width: 18%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
    background: #eee;
    border-right: none;
    background: #eee;
    border-right: 1px solid #ddd;
}

.collapsed .builder-area {
    margin-left: -300px;
}

.builder-fields {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

section.panel {
    border-top: 1px solid #ddd;
}

.panel h3 {
    padding: 10px 10px 11px 14px;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: normal;
    background: #fff;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    border-left: 4px solid #fff;
}

.panel-content {
    background: #eee;
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    display: none;
}

.panel-content label {
    font-size: 14px;
    font-weight: normal;
    display: block;
}

.active h3 {
    border-left: 4px solid #0073aa;
}

.panel-content input,
.panel-content textarea {
    background: #fff;
    width: 97%;
}

.panel-content input:focus,
.panel-content textarea:focus {
    outline: none;
}

.form-row {
    margin-bottom: 5px;
    padding: 10px 15px 0 15px;
}

.add-more-area ul {
    padding: 0;
    margin: 0;
    background: #eee;
}

.add-more-area li {
    list-style: none;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.add-more-area li a {
    font-size: 13px;
}

.expanded .footer-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 299px;
    max-width: 599px;
    width: 18%;
    height: 45px;
    border-top: 1px solid #ddd;
    background: #eee;
}

#preview-area {
    right: auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}
